<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>Customer</servlet-name>
        <servlet-class>Jewellery.Customer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyUser</servlet-name>
        <servlet-class>Jewellery.VerifyUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ring</servlet-name>
        <servlet-class>Jewellery.Ring</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bangles</servlet-name>
        <servlet-class>Jewellery.Bangles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Studs</servlet-name>
        <servlet-class>Jewellery.Studs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChianController</servlet-name>
        <servlet-class>Jewellery.ChianController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Order</servlet-name>
        <servlet-class>Jewellery.Order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ordermgt</servlet-name>
        <servlet-class>Jewellery.Ordermgt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Jewellery.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServletf</servlet-name>
        <servlet-class>Jewellery.NewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Customer</servlet-name>
        <url-pattern>*.reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyUser</servlet-name>
        <url-pattern>*.user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ring</servlet-name>
        <url-pattern>/Ring</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bangles</servlet-name>
        <url-pattern>/Bangles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Studs</servlet-name>
        <url-pattern>/Studs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChianController</servlet-name>
        <url-pattern>/ChianController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Order</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ordermgt</servlet-name>
        <url-pattern>*.Ordermgt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServletf</servlet-name>
        <url-pattern>/fffg</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        </welcome-file-list>
</web-app>
